html {
  margin: auto;
  background-color: var(--main-color3);
}

body {
  background-color: var(--main-color3);
}

.first-header {
  background-color: var(--main-color2);
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  color: rgb(20, 75, 107);
}

/*
Over-ride the base classes with a higher specificity id
*/
#scroll-your-role {
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
}

/*
play with the colors on the navbar
make different design choices for the lawyer website
keep mastering React 
*/
