html {
  margin: auto;
  background-color: var(--main-color3);
  max-width: 100%;
  overflow-x: hidden;
  touch-action: none;
}

body {
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  touch-action: none;
  background-color: var(--main-color3);
}

.first-header {
  background-color: var(--main-color2);
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  color: rgb(20, 75, 107);
}
#last-message {
  padding: 2rem;
  text-align: center;
  background-color: var(--main-color2);
}

/*
Over-ride the base classes with a higher specificity id
*/
#scroll-your-role {
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
}
